## DB
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tech-manager

## ENV
PORT=8080
PROFILE=dev

##ACTUATOR
ACTUATOR_EXPOSURE=health,info
ACTUATOR_HEALTH_SHOW_DETAILS=when_authorized

## JWT
JWT_SECRET=your_jwt_secret_key
JWT_ACCESS_EXPIRES_IN_MINUTES=10
JWT_REFRESH_EXPIRES_IN_DAYS=7